@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
body {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1;
    color: #333;
    font-family: "Nunito";
}

a {
    color: #333;
    text-decoration: none;
}

.content {
    margin: 0 auto;
}

footer {
    display: block;
    margin-top: 60px;
    color: #777;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #eaeaea;
}

.not-found {
    text-align: center;
}

.not-found a {
    color: #4979ff;
    text-decoration: underline;
}